.home-header-section {
  background-position: center!important;
  background-size: cover!important;

  @apply w-screen min-h-screen relative flex justify-center items-center py-24;

  .elements-wrapper {
    @apply w-4/5 lg:w-3/4 flex-col-reverse lg:flex-row z-20 relative;

    .logo-container {
      @apply w-full md:w-1/2 relative z-10;

      .signature {
        filter: drop-shadow(0px 0px 10px #34b3c1);

        @apply z-20 absolute -top-[30px] lg:bottom-0 lg:top-[unset];
      }
    }

    .title-container {
      @apply text-slate-100 w-full lg:w-1/2 flex flex-col z-10;

      .main-title {
        font-family: "Work Sans", sans-serif;
        text-shadow: 1px 1px 1px #000, 3px 3px 5px #0094b5;
        animation: glow 1s ease-in-out infinite alternate;
        @apply mb-4 text-5xl md:text-7xl xl:text-8xl uppercase font-black lg:leading-tight text-center;

        @keyframes glow {
          from {
            text-shadow: 0 0 40px #2d9da9;
          }
          to {
            text-shadow: 0 0 80px #34b3c1, 0 0 30px #4dbbc7;
          }
        }
      }
      .sub-title {
        @apply flex-centered;

        .text {
          text-shadow: 0 0 80px #7634c1, 0 0 30px #8a4dc7;
          line-height: 2!important;
          @apply text-slate-100 lg:text-slate-900 uppercase text-2xl xl:text-5xl text-center font-bold flex;
        }
        div:first-of-type {
          @apply pb-4;
        }
        div:last-of-type {
          @apply pt-9 xl:pt-4 border-l-2 xl:border-l-4 border-slate-100;
        }
      }
    }
  }
}
