.home-quote {
  @apply relative w-full flex-centered section-y-short mb-20 sm:mb-0;

  .background-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      #000000 0%,
      rgba(0, 0, 0, 0.2) 50%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .image-quote {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)!important;
    @apply absolute w-4/5 lg:w-[800px];
  }
}
