.contact-social-links {
    a {
        @apply mx-1 transition ease-in-out delay-150;
        svg {
            filter: drop-shadow(0 0 40px #2d9da9);
        }

        &:hover {
            color: #34b3c1;
            transform: translateY(-4px);
            svg {
                filter: drop-shadow(0 0 80px #7634c1);
            }
        }
    }
}