.contact-page {
  min-height: calc(100vh - 220px);
  background: url(/contact.jpg);
  @apply bg-cover bg-center;
  .contact-section-info {
  
    p, span {
      @apply text-primary-lg font-light mb-2;
  
      &:first-of-type {
        @apply font-bold;
      }
  
    }
  
    .contact-social-links {
      span {
        svg {
          @apply text-4xl mr-2;
        }
      }
      a {
        @apply mx-1 transition ease-in-out delay-150;
  
        svg {
          @media (min-width: 1024px) {
            filter: drop-shadow(0 0 40px #2d9da9);
          }
        }
  
        &:hover {
          color: #34b3c1;
          transform: translateY(-4px);
          svg {
            @media (min-width: 1024px) {
              filter: drop-shadow(0 0 80px #7634c1);
            }
          }
        }
      }
    }
  }
}
