.section-width-default {
  @apply max-w-[340px] sm:max-w-[600px] md:max-w-[700px] lg:max-w-[880px] xl:max-w-[1040px] 2xl:max-w-[1200px] 3xl:max-w-[1400px] w-full;
}

.flex-centered {
  @apply flex justify-center items-center;
}

.section-x-default {
  @apply w-4/5 lg:w-2/3 2xl:w-6/12;
}

.section-y-default {
  @apply min-h-screen mb-40;
}

.section-y-short {
  @apply min-h-screen lg:min-h-[80vh];
}

.glass-container {
  background: rgba(148, 148, 148, 0.25);
  backdrop-filter: blur(10.4px);
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.blue-glow {
  animation: glow 1s ease-in-out infinite alternate;
  @keyframes glow {
    from {
      text-shadow: 0 0 40px #2d9da9;
    }
    to {
      text-shadow: 0 0 80px #34b3c1, 0 0 30px #4dbbc7;
    }
  }
}