// COLORS
$white-color: #fffdfa;
$cv-primary-gradient: linear-gradient(180deg, #20303c 0%, #262626 100%);
$dark-color: #262626;
$light-gray: #afafaf;
$cv-light-blue: #00b4db;

// ANIMATIONS
$transition-times: 0.8s 0.2s;

// TEXT
$section-title: 32px;

.cv-page {
  font-family: "Yanone Kaffeesatz", sans-serif, -apple-system;
  @apply min-h-screen w-screen flex;
  // SIDEBAR
  .sidebar {
    color: $white-color;
    transition: $transition-times;
    background: $cv-primary-gradient;
    // @apply w-1/3;
    @apply min-w-[40px] lg:min-w-[100px] w-[40px] lg:w-[100px] z-10 h-screen flex flex-col items-center pt-10 fixed;

    h1 {
      @apply mt-10 text-3xl font-bold mx-6;
    }

    h2 {
      @apply mx-6 text-lg font-bold;
    }

    p {
      @apply text-lg font-light mx-6 text-justify;
    }

    hr {
      @apply h-2;
    }

    .side-image {
      transition: $transition-times;
      @apply w-60 h-60 lg:w-[310px] lg:h-[310px] border-8 rounded-full hover:cursor-pointer relative overflow-hidden;

      .image-wrapper {
        border-color: $white-color;

        @apply w-full left-[50%] top-[-30%] translate-x-[-50%] scale-x-[-1] absolute;

        &.tog {
          @apply hidden;
        }
      }
    }

    .arrow {
      transition: $transition-times;
      background: $cv-light-blue;
      border-color: $cv-light-blue;
      @apply cursor-pointer z-50 absolute top-[280px] lg:top-[360px] -right-5 lg:-right-10 text-4xl lg:text-6xl border-4 rounded-full;
    }

    .side-info {
      transition: $transition-times;
      @apply opacity-0 absolute lg:-left-20 text-slate-100 mt-60 lg:mt-80 w-full lg:w-[410px];

      .techs-wrapper {
        @apply mx-6 flex flex-wrap;

        .tech {
          @apply text-3xl m-2;
        }
      }
      .btn {
        @apply w-full flex justify-end;

        button {
          background: $white-color;
          color: $dark-color;
          @apply px-4 py-2 mx-4 rounded-md cursor-pointer w-fit ml-auto;

          a {
            @apply text-2xl font-semibold;
          }
        }
      }
    }

    // SIDE TOGGLED
    &.toggled {
      @apply min-w-[410px] w-[410px];

      .side-image {
        .image-wrapper {
          &.tog {
            @apply block;
          }
        }
      }

      .arrow {
        @apply right-0;
        svg {
          transform: rotateZ(180deg);
        }
      }
      .side-info {
        @apply opacity-100 left-0;
      }
    }
  }

  // MAIN
  .main-content {
    color: $dark-color;
    background: $white-color;
    @apply absolute w-full min-h-screen lg:pl-[500px] pt-20;

    hr {
      background: $dark-color;
      @apply h-1;
    }

    h2 {
      font-size: $section-title;
      @apply font-semibold;
    }

    .my-name {
      @apply text-8xl font-semibold mb-2;
    }

    .my-role {
      color: $light-gray;
      @apply text-6xl font-semibold mb-2;
    }

    .contact {
      @apply text-2xl font-normal flex items-center my-4;

      a {
        @apply ml-2 hover:underline;
      }
    }
    .experience {
      .position {
        transition: $transition-times;
        transition: max-height 1s ease-in-out;
        max-height: 56px;
        background: $cv-primary-gradient;
        color: $white-color;
        @apply h-full flex items-start my-4 mr-10 py-2 px-2 rounded-xl overflow-hidden;

        &.toggled {
          max-height: 600px;

          .arrow {
            transform: rotateZ(90deg);
          }
        }

        .arrow {
          transition: $transition-times;
          @apply text-4xl cursor-pointer;
        }
        h3,
        h4,
        p {
          color: $dark-color;
        }

        h2 {
          @apply font-semibold;
        }
        h3 {
          @apply text-2xl font-bold;
        }
        h4 {
          @apply text-xl;
        }
        p, li {
          @apply text-lg whitespace-pre-line;
        }

        span {
          color: $dark-color;
        }

        .tasks {
          color: $dark-color;

          li {
            // list-style-type: '➜';
            margin-left: 1.5rem;
            padding-inline-start: 0.4em;

            &::marker {
              content: ">>";
              font-weight: 700;
              font-size: 1.5em;
            }
          }
        }
        .projects {
          color: $dark-color;
        }

        .reference {
          font-size: 1rem;
          span:first-child::before {
            content: "Reference:";
            font-weight: 900;
            margin-right: 4px;
          }
        }
      }
    }
    .recomendations,
    .certifications {
      button {
        all: initial;
        font-family: inherit;
        background: $dark-color;
        color: $white-color;
        
        @apply px-4 py-2 mx-4 rounded-md cursor-pointer;
      }
      h2,
      svg {
        @apply text-4xl font-semibold;
      }
    }
  }
}
