@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  // scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  overflow-x: hidden;

    ::-webkit-scrollbar {
      width: 5px;
    }
    ::-webkit-scrollbar-track {
      background: transparent;
    }
    ::-webkit-scrollbar-thumb {
      background: #478995;
      border-radius: 16px;
      &:hover {
        background: #b2d6bc;
      }
    }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

figure {
  margin: 0;
}

.scrolled {
  position: fixed !important;
  top: 0;
  /* background: #0094B5; */
  background: linear-gradient(to right, #20303c, #478995);
  margin-top: 0 !important;
}

.custom-center {
  @apply flex justify-center items-center;
}