// NAV
.navbar-container {
  position: absolute;
  top: 0;
  padding: 2px;
  display: flex;
  justify-content: center;
  width: 100vw;
  z-index: 199;
  @apply lg:mt-8 py-2;

  .inner-container {
    @apply flex justify-between items-center w-[80%] 2xl:w-[70%] relative;

    // LOGO
    .logo-container {
      a {
        @apply cursor-pointer;
        .logo-image {
          @apply w-[46px] h-16 md:w-auto md:h-20 mr-2;
        }
      }
    }

    // NAVIGATION ELEMENTS
    .navigation-items {
      @apply flex;

      .page-links {
        @apply flex flex-row justify-end m-0 z-10 list-none;

        li {
          display: none;
          @media screen and (min-width: 1024px) {
            display: inline-block;
          }
          @apply font-extralight text-3xl text-slate-100 px-4;

          a {
            cursor: pointer;
            position: relative;
            text-shadow: 0 0 80px #34b3c1, 0 0 30px #4dbbc7;

            &::after {
              --slice-0: inset(50% 50% 50% 50%);
              --slice-1: inset(80% -6px 0 0);
              --slice-2: inset(50% -6px 30% 0);
              --slice-3: inset(10% -6px 85% 0);
              --slice-4: inset(40% -6px 43% 0);
              --slice-5: inset(80% -6px 5% 0);
              content: "REIZINHO";
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background: linear-gradient(45deg, transparent 3%, #ffffff89 10%);
              text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
              clip-path: var(--slice-0);
            }

            &.selected {
              font-weight: 800;
            }

            &:hover::after {
              animation: 1s glitch infinite;
              animation-timing-function: steps(2, end);
            }

            @keyframes glitch {
              0% {
                clip-path: var(--slice-1);
                transform: translate(-20px, -10px);
              }

              10% {
                clip-path: var(--slice-3);
                transform: translate(1px, 1px);
              }

              20% {
                clip-path: var(--slice-1);
                transform: translate(-1px, 1px);
              }

              30% {
                clip-path: var(--slice-3);
                transform: translate(0px, 0.5px);
              }

              40% {
                clip-path: var(--slice-2);
                transform: translate(-0.5px, 0px);
              }

              50% {
                clip-path: var(--slice-3);
                transform: translate(0.5px, 0px);
              }

              60% {
                clip-path: var(--slice-4);
                transform: translate(0.5px, 10px);
              }

              70% {
                clip-path: var(--slice-2);
                transform: translate(-1px, 1px);
              }

              80% {
                clip-path: var(--slice-5);
                transform: translate(2px, -1px);
              }

              90% {
                clip-path: var(--slice-1);
                transform: translate(-1px, 0px);
              }

              100% {
                clip-path: var(--slice-1);
                transform: translate(0);
              }
            }
          }
        }
      }

      //   LANGUAGE CHANGER
      .language-container {
        @apply hidden lg:flex;

        .language-dropdown {
          @apply flex relative;

          ul {
            transition: 0.3s ease-in-out;
            @apply lg:bg-slate-900 flex flex-col justify-center items-center list-none lg:absolute mx-auto top-10 right-0 w-[80px] overflow-hidden rounded-md;

            li {
              @apply text-2xl lg:text-xl text-slate-100 font-normal uppercase m-0;

              &:hover {
                h3 {
                  font-weight: 800;
                }
                figure {
                  border-color: #fff;
                  border-width: 2px;
                }
              }
            }
          }
        }
      }
    }

    .menu-burger {
      @apply lg:hidden;

      @media screen and (max-width: 768px) {
        transform: translate(-100%, -50%) !important;
        font-size: 1.8rem !important;
      }
      @media screen and (max-width: 1024px) {
        width: max-content;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-100%, -50%);
        font-size: 2rem;
        cursor: pointer;
        color: #fff;
      }
      svg {
        z-index: 201;
        filter: drop-shadow(0 0 80px #34b3c1, 0 0 30px #4dbbc7);
      }
    }
  }
}
// LANGUAGE NAME
.lang-name {
  display: none;
  @media screen and (min-width: 1024px) {
    display: flex;
  }
  @apply items-center cursor-pointer uppercase font-bold ml-2;

  .arrow {
    transition: 0.3s ease-in-out;
    @apply ml-1;
  }
}

//FLAG CHOICE
.flag-choice {
  @apply flex justify-center items-center my-1;

  h3 {
    @apply ml-2 uppercase;
  }

  .flag {
    @apply relative w-[24px] h-[24px] rounded-full overflow-hidden ml-2;
  }
}

// FOOTER
footer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #eee;
  background: #0f2027;
  overflow: hidden;
  z-index: 1;

  .inner-wrapper {
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);

    // @media screen and (max-width: 764px) {
    //   grid-template-columns: 1fr;
    // }
    @apply flex justify-center;

    .thanks-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      @apply mb-2;

      @media screen and (max-width: 390px) {
        order: 2;
        margin-bottom: 1rem;
      }
      .image-container {
        @apply flex-row mb-4 mt-6;

        .signature-image {
          @apply w-auto h-28;
        }
      }
    }
  }
}
