// ABOUT ME ------------------------------------------------------------------------------------------
.about-left-side {
  @apply z-10;
}
.about-right-side {
  height: 100%;
  margin-left: 0.5rem;
  cursor: pointer;

  @media screen and (max-width: 992px) {
    width: 100%;
    margin: 0;
    justify-content: center;
  }

  .about-picture-wrapper {
    filter: drop-shadow(20px 20px 17px #051719);
  }

  .outer {
    position: relative;
    background: url("/pattern.png"),
      radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    /* width: 550px; */
    height: 750px;
    z-index: 1;
    overflow: hidden;
    border-radius: 16px;

    @media screen and (max-width: 764px) {
      width: 90%;
      height: 600px;
      margin-left: auto;
      margin-right: auto;
    }
    @media screen and (max-width: 412px) {
      width: 95%;
      height: 500px;
    }

    .card {
      position: relative;
      z-index: 2;

      padding: 42px 32px;

      clip-path: circle(5% at 95% 11%);
      transition: all ease-in-out 0.3s;
      background-color: #ffffff;

      @media screen and (max-width: 764px) {
        clip-path: circle(6% at 93% 10%);
      }

      @media screen and (max-width: 412px) {
        clip-path: circle(7% at 90% 11%);
      }
    }

    .picture {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 700px;
      z-index: 0;
      /* filter: grayscale(100%); */
      transition: all 500ms ease-in-out;

      @media screen and (max-width: 764px) {
        width: 600px;
      }
      @media screen and (max-width: 412px) {
        width: 400px;
      }

      .me {
        width: 100%;
        height: auto;
      }

      &.glasses {
        &:hover {
          /* filter: grayscale(0); */
          opacity: 0;
        }
      }
    }
  }
}
// SERVICES ------------------------------------------------------------------------------------------
.card-wrapper {
  @apply flex flex-col sm:grid sm:grid-cols-3 gap-4 -ml-4;
}

.service-card,
h3 {
  font-family: "Yanone Kaffeesatz";
}
.service-card {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10.4px);
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.25);
  // border-radius: 20px;

  .picture {
    @apply rounded-2xl border-none overflow-hidden;
  }

  h2 {
    @apply text-3xl lg:text-4xl font-bold text-center mb-4;
  }
  button {
    background: #003399;
    box-shadow: 4px 4px 7px 2px rgba(0, 0, 0, 0.25);
    transition: all ease-in-out 0.3s;
    @apply rounded-2xl border-none flex items-center h-[66px] mt-auto;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 4px 4px 7px 4px rgba(0, 0, 0, 0.25);
      opacity: 1;
      svg {
        @apply translate-x-3;
      }
    }
    &:active {
      transform: translateY(2px);
      box-shadow: 4px 4px 7px 1px rgba(0, 0, 0, 0.25);
    }

    h3 {
      @apply text-xl lg:text-3xl font-bold text-slate-100 uppercase;
    }
    svg {
      @apply translate-x-2 mb-1;
    }
  }

  &.big-card {
    @apply w-full  p-4 rounded-2xl mx-2 order-1 col-span-3 grid grid-rows-6 sm:grid-cols-2 sm:grid-flow-col gap-4;
    .picture {
      @apply row-span-6;
    }
    h2 {
      @apply text-left;
    }
    p {
      @apply row-span-4;
    }
    button {
      @apply row-span-1 ml-auto;
    }
  }

  &.small-card {
    @apply w-full p-4 rounded-2xl mx-2 order-2 col-span-1 flex flex-col;

    .picture {
      @apply w-full h-[172px] mb-2;
    }
    button {
      @apply mx-auto;
    }
  }
}
