// HEADER
.projects-section-header {
  font-family: "Yanone Kaffeesatz";
  h1:first-of-type {
    transform: translate(-6px, 134px);

    @media (max-width: 768px) {
      transform: translate(-3px, 0px);
    }
  }
  h1:last-of-type {
    @media (max-width: 768px) {
      transform: translate(0px, -67px);
    }
  }
}

// QUOTE
.projects-quote {
  .background-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      #283e51 0%,
      #283e518e 50%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

//  PROJECTS
.projects-section-projects {
  .projects-title {
    border-bottom: 3px solid $color-white;
  }
  .cards-shared {
    @apply w-[320px] h-[300px] lg:w-[420px] lg:h-[340px];
  }
}